body{

background: #ffffff; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); 

}

#cabecera {
    background: #000000;
    color: white;
    height: 149px;
}

#logo-Uber {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
	width: 120px;
}

.Bienvenida {
	float: left;
	padding: 103px 0 0 585px;
	text-decoration: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: graphic;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes graphic {
    0%   {color: gray;}
    25%  {color: white;}
    50%  {color: darkgray;}
    100% {color: black;}
}

/* Standard syntax */
@keyframes graphic {
    0%   {color: black;}
    25%  {color: darkgray;}
    50%  {color: white;}
    100% {color: gray;}
}

.log{

    margin: -74px 1143px;
    position: absolute;
}

.welcome{
    margin: 5px -118px;
}
.user{
   margin: 1px -76px;
   color: orange;
}
.foto-user{
      margin: -118px 10px;
}
#logo-Uber {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
    width: 120px;
}

.section {
    background-color:  rgb(225, 212, 212);
    position: absolute;
    top: 166px;
    width: 1333px;
    height: 894px;
}

.Form {
   border-style: solid;
    height: 265px;
    position: absolute;
    margin: 21px 228px;;
}

.fieldset {
    border-style: inset;
    margin: 217px 228px;
}

.active {
    background-color: gray;
    color: white;
}

table {
    
    border-collapse: separate;
    width: 71%;
    margin: 40px 83px;
}

th, td {
    text-align: left;
    padding: 8px;
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

tr:nth-child(even){
	background-color: #f2f2f2
}

th {
    background-color: gray;
    color: white;
}
.label {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-right: 3px;
}


ul {
    list-style-type: none;
    margin: 35px 82px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 308px;
    border-radius: 10px;
    font-size: 20px;
}

h4{
    font-size: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

li {
    clear: all;
    float: left;
}

li a:hover {
    background-color: #111;
}
button{
    
    font-size: 28px;
    width: 60px;
    
    position: absolute;
    margin: 0 741px;
    background-color: #555555;
    border-radius: 50%;
    color: white;

}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
   
}

.dropdown-content a:hover {
    background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.btnmas2{

    padding: 37px 1px

}
